* {
  margin: 0;
  padding: 0;
  font-size: 1.3rem; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 72.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333; }

.body {
  background-image: linear-gradient(to right, #f7d749, #e78e3a); }
  .body .container {
    background-color: #fff;
    width: 85rem;
    margin: auto auto;
    margin-top: 8rem;
    box-shadow: 1rem 1rem 4rem #302f2f; }
    .body .container .header {
      background-color: #faf5f5;
      border-bottom: 2px solid #fff;
      height: 6rem;
      padding-left: 2rem; }
      .body .container .header .form .input {
        padding: 1rem;
        border-radius: 10rem;
        width: 25rem;
        color: black;
        outline: none;
        transition: all 0.5s; }
        .body .container .header .form .input::placeholder {
          color: #dbd7d7; }
        .body .container .header .form .input:focus {
          width: 30rem; }
        .body .container .header .form .input:hover {
          border-color: #faf5f5; }
      .body .container .header .form .search {
        padding: 1.1rem 2rem;
        background-image: linear-gradient(to right bottom, #f7d749, #e78e3a 50%);
        border-radius: 10rem;
        margin-left: -5rem;
        transition: all 0.5s; }
        .body .container .header .form .search:hover {
          transform: translateX(-0.5rem);
          background-image: linear-gradient(to right bottom, #e78e3a, #e78e3a); }
      .body .container .header .heart {
        font-size: 2rem;
        color: #e78e3a;
        height: 100%;
        padding: 2rem;
        transition: all 0.5s; }
        .body .container .header .heart:hover {
          background-color: #eeecec; }
    .body .container .recipe-list {
      background-color: #fff;
      height: 30rem; }
    .body .container .recipe-details {
      background-color: #faf5f5; }
    .body .container .shopping-list {
      background-color: #fff;
      padding: 1rem; }

.body .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .body .container .header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .body .container .recipe-details {
    grid-column: 2 / 4; }
