.body {
  & .container {
    display: grid;
    grid-template-columns: 25rem repeat(2, 1fr) 20rem;

    & .header {
      grid-column: 1 / -1;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & .recipe-list {
      grid-column: 1/2;
    }

    & .recipe-details {
      grid-column: 2 / 4;
    }

    & .shopping-list {
    }
  }
}
